<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>登录 - openstack - </title>
{#    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
{#    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="/static/js/bootstrap.js"></script>#}
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
<div class="modal">
    <form action="login" method="post" onsubmit="return openstack_login()">
        {% csrf_token %}
        <img src="/static/images/login.jpg">
        <h2>登录</h2>
        <span class="error"></span><br>
        <span>用户名</span><br>
        <input type="text" name="username" placeholder="请输入用户名" class="uk-thumbnail-medium userpw user" onfocus="return disappear()"><img src="/static/images/shutdown.jpg" id="user_img"><br>
        <span class="uk-dropdown-bottom">密码</span><br>
        <input type="password" name="password" placeholder="密码" class="uk-thumbnail-medium userpw password" onfocus="return disappear()"><img src="/static/images/shutdown.jpg" id="password_img"><br>
        <a href="register" class="register_mark">注册</a>
        <input type="submit" value="登入" class="button_css_1" onclick="return transmission_data()">
    </form>
</div>
</body>
</html>