{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>{% trans 'login' %} - openstack - </title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" tppabs="/static/css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/login/login.js"></script>
<script src="/static/js/verificationNumbers.js" tppabs="/static/js/verificationNumbers.js"></script>
<script src="/static/js/Particleground.js" tppabs="/static/js/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="javascrpt:;"/*tpa=http://***index.html*/;
	  });
});
</script>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    <dl class="admin_login">
     <dt>
      <strong id="info"></strong>
     </dt>
     <dd class="user_icon">
      <input type="text" name="username" placeholder="{% trans 'username' %}" class="login_txtbx"/>
     </dd>
     <dd class="pwd_icon">
      <input type="password" name="password" placeholder="{% trans 'password' %}" class="login_txtbx"/>
     </dd>
     <dd class="val_icon">
      <div class="checkcode">
        <input type="text" id="J_codetext" name="code" placeholder="{% trans 'identity code' %}" maxlength="4" class="login_txtbx">
        <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">{% trans 'Sorry, your browser does not support canvas, please download the latest version of the browser!' %}</canvas>
      </div>
      <input type="button" value="{% trans 'Click Update' %}" class="ver_btn" onClick="validate();">
     </dd>
     <dd>
      <input type="button" onclick="openstack_login()" value="{% trans 'login' %}" class="submit_btn"/>
     </dd>
    </dl>
</form>
</body>
</html>