{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css">
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css">
    <script type="text/javascript" src="/static/js/uikit.min.js"></script>
    <script type="text/javascript" src="/static/js/uikit.js"></script>
</head>
<body>
<div>
    <ul>
        <li>
            <a href="">{% trans 'projects' %}</a>
            <ul>
                <li>
                    <a href="">{% trans 'Compute' %}</a>
                    <ul>
                        <li>{% trans 'survey' %}</li>
                        <li>{% trans 'instance' %}</li>
                        <li>{% trans 'cloud valume' %}</li>
                        <li>{% trans 'image' %}</li>
                        <li>{% trans 'access and security' %}</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>