<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> openstack </title>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
<div class="header">
    <img src="/static/images/openstack_head_left.jpg" height="50">
    <h4 class="header-right">admin</h4>
    <ol>
        <li>登出</li>
    </ol>
</div>
<div class="common_left">
    <p>
        <span>项目</span>
        <p class="hides">
            <span>Compute</span>
            <ul>
                <li>概况</li>
                <li>实例</li>
                <li>云硬盘</li>
                <li>镜像</li>
                <li>访问 & 安全</li>
            </ul>
        </p>
        <p class="hides">
            <span>网络</span>
            <ul>
                <li>概况</li>
                <li>模式</li>
                <li>访问 & 安全</li>
            </ul>
        </p>
    </p>
    <p>
        <span>管理员</span>
        <p class="hides">
            <span>系统</span>
            <ul>
                <li>概况</li>
                <li>虚拟机管理器</li>
                <li>主机集合</li>
                <li>实例</li>
                <li>云硬盘</li>
                <li>云主机类型</li>
                <li>镜像</li>
                <li>网络</li>
                <li>默认值</li>
                <li>路由</li>
                <li>元数据定义</li>
                <li>系统信息</li>
            </ul>
        </p>
    </p>
    <p>
        <span>Identity</span>
        <ul>
            <li>项目</li>
            <li>用户</li>
        </ul>
    </p>
</div>
</body>
</html>