* {
    margin: 0;
    padding: 0;
}

ul li {
    /*display: none;*/
    list-style: none;
    height: 20px;
    line-height: 20px;
}

ol li {
    /*display: none;*/
    font-size: 20px;
    line-height: 22px;
    list-style: none;
    float: right;
    margin-top: -10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.hides {
    /*display: none;*/
    height: 20px;
    line-height: 20px;
}
.hides span {
    position: relative;
}

.header {
    position: relative;
    padding-top: 6px;
    height: 40px;
    background: #eeeeee;
}

.header-right {
    cursor: pointer;
    width: 100px;
    text-align: center;
    position: absolute;
    top: -10px;
    right: 0px;
}

.tab-right-1 {
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent; /* 下边框的高 */
    border-top: 8px solid transparent; /* 上方边框的高 */
    border-left: 12px solid #cbcbcb; /* 左边框的长度|宽度，以及背景色 */
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 160px;
}

.tab-down-1 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #cbcbcb;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 160px;
    display: none;
}

.tab-right-2 {
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent; /* 下边框的高 */
    border-top: 8px solid transparent; /* 上方边框的高 */
    border-left: 12px solid #cbcbcb; /* 左边框的长度|宽度，以及背景色 */
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 135px;
}

.tab-down-2 {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #cbcbcb;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 135px;
    display: none;
}

.image-right {
    margin-left: 5px;
}

.common_left {
    background: #72ae41;
    width: 156px;
    height: 775px;
    line-height: 16px;
    padding: 5px 0px 0px 24px;
    font-size: 16px;
    color: yellow;
    cursor: pointer;
}